<!-- {% extends 'core/base.html' %}
{% block content %}
<h2>Adicionar Dispositivo</h2>
<form method="post">
  {% csrf_token %}
  Nome: <input type="text" name="nome"><br>
  Status:
  <select name="status">
    <option value="ativo">Ativo</option>
    <option value="disponivel">Disponível</option>
    <option value="manutencao">Em manutenção</option>
  </select><br>
  Tipo:
  <select name="tipo">
    {% for tipo in tipos %}
    <option value="{{ tipo.id }}">{{ tipo.nome }}</option>
    {% endfor %}
  </select><br>
  <button type="submit">Salvar</button>
</form>
{% endblock %} -->
